<h2>Team</h2>

<ul class="players">
  <li *ngFor="let player of players">
    <a routerLink="/detail/{{player.id}}">
      <span class="badge">{{player.id}}</span> {{player.name}} 
    </a>
    <a>Rating: {{player.rating}} | Best Pos: {{player.role}}</a>
    <button class="delete" title="delete player"
  (click)="delete(player)">x</button>
  </li>
  
</ul>


<!-- 
<div>
  <label for="new-player">Player name: </label>
  <input id="new-player" #playerName /> -->

  <!-- (click) passes input value to add() and then clears the input
  <button class="add-button" (click)="add(playerName.value); playerName.value=''">
    Add player
  </button>
</div> -->
